:root {
    --background-color: #000000;
    --text-color: #00ff00;
    --highlight-color: #ffffff;
}

#run-tests {
    width: 250px;
    height: 80px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 32px;
    font-family: inherit;
    border-color: var(--highlight-color);
    border: none;
}

#description {
    margin-bottom: 36px;
}

.test-case-container {
    padding: 20px 0;
}

.test-case-progress {
    width: 30%;
    line-height: 30px;
    background-color: grey;
    margin-top: 10px;
}
  
.test-case-bar {
    width: 0%;
    height: 30px;
    background-color: var(--highlight-color);
    text-align: center;
    line-height: 30px;
    color: #000000;
}

.bar-success {
    background-color: var(--text-color) !important;
}

.bar-failure {
    background-color: #ff0000 !important;
}

.text-success {
    color: var(--text-color) !important;
}

.text-failure {
    color: #ff0000 !important;
}

.status-msg {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    font-size: 24px;
}

.btn:hover {
    background-color: #ffffff;
}

button[disabled=disabled], button:disabled {
    background-color: #797979 !important;
}

#previous {
    margin-top: 36px;
    background-color: #ffffff;
    color: black;
}

#next {
    background-color: var(--text-color);
    color: var(--background-color);
}

#description {
    width: 800px;
}

#description a {
    color: var(--highlight-color);
}

code {
    font-size: 14px;
}